<h1>3JMCoding</h1>
<%= link_to "Blogs", (blogs_path) %>
<%= link_to "Rails", (rails_items_path) %>
<%= link_to "Python", (python_items_path) %>
<h1>Blog post</h1>
<%= @posts.inspect %>

<h1>Skill</h1>
<%= @skills.inspect %>

